<div class="container">

  <h1>Cucumber Json File Parsed</h1>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Feature Id</th>
        <th>Feature Name</th>
        <th>Description</th>
        <th>Keyword</th>
        <th>Line No</th>
        <th>Feature File</th>
        <th>Scenario</th>
        <th>Steps</th>


      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let feature of features">
        <td>{{ feature.id }}</td>
        <td>{{ feature.name }}</td>
        <td>{{ feature.description }}</td>
        <td>{{ feature.line }}</td>
        <td>{{ feature.keyword }}</td>
        <td>{{ feature.uri }}</td>

        <td>
          <ul>
            <li *ngFor="let item of feature.elements">
              Scenario : {{item.name | json}}
            </li>
          </ul>
        </td>
        <td>

          <ul *ngFor="let item of feature.elements">
            <li *ngFor="let step of item.steps">
              {{step.name}} <br />
            </li>

          </ul>
        </td>
      </tr>
    </tbody>
  </table>
</div>



<tr *ngFor="let record of features | async">
  <td> {{ record.name }} </td>
</tr>

<ul>
  <li *ngFor="let feature of features">
    <span>{{feature | json }}</span>
  </li>
</ul>

