<mat-nav-list>
  <div class="logo py-4">
   <!-- <img src="" alt="Logo" />-->
    <h2>Cucumber HTML Reports</h2>
  </div>
 <!-- <h2 matSubheader class="mt-2">Tasks</h2>-->
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/home">
    <mat-icon>home</mat-icon> Home
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/dashboard">
    <mat-icon>dashboard</mat-icon> Dashboard
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/treeView">
    <mat-icon>segment</mat-icon> Tree View
  </a>
</mat-nav-list>
