.progress-cont {
  height: 7px;
  width: 100%;
  border-radius: 4px;
  background-color: #9ED7F0;
  position: relative;
  text-align: center;
}
.progress-cont .progress {
  width: 0;
  height: 100%;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  border-radius: 4px;
  background-color: #073B63;
  transition: 0.5s all;
}
